@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Routes";
}

<html>

<!-- ======= Routes Section ======= -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4" id="roh1">ROUTES</h1>
                <p id="inforou">Jeepney routes of Dagupan City.</p>
            </div>

            <div class="maprouter">
                <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/u/0/embed?mid=1eKXiNuG6-ywuoEEqPGnmeya7ix4GJkw&ehbc=2E312F"></iframe>
                </div>
            </div>
        </div>

        <div>
        <h3 class="display-4" id="route">STA. BARBARA━━━━━DOWNTOWN━━━━━BONUAN(BOQUIG)━━━━━MANGALDAN</h3>
        </div>
    </div>
<!-- ======= End of Routes Section ======= -->

</html>
